@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser > SignInManager
@inject UserManager<ApplicationUser > UserManager

<ul class="navbar-nav">
@if (Model.drustvoId == 0 )
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Drustvo" asp-action="Create">Ustvari društvo</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Dogodek" asp-action="Index">Dogodek</a>
    </li>
}
</ul>
