@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bodite dober vodja svojega čebeljnaka</h1>
    <br>
    <br>
</div>
<div>
    <h2>Kaj je BeeOrganizator</h2>
    <div>
        <p>Namen projekta je ustvariti aplikacijo z dobro uporabniško izkušnjo, ki bo čebelarjem omogočala
        preprosto vodenje evidence, ustvarjanje varnostnih kopij in vizualizacijo podatkov. Evidenca se bo
        lahko vodila za pregledovanje čebeljih družin, točenje medu, hranjenje in tudi zdravljenje. Tako bo
        lahko vse vidno v eni aplikaciji. Uporabnik bo lahko zapisoval tudi stroške, ki jih je imel pri zdravljenju
        in hranjenju. Kar lahko čebelarju olajša izračun stroškov in prihodkov. Vse te podatke bo nato v sami
        aplikaciji tudi možno tudi vizualizrati, kar bo omogočalo.</p>

        <p>Aplikacija bo imela podatkovno bazo, kamor se bodo podatki sinhronizirali ko bo imela aplikacija
        dostop do omrežja. Tako bo lahko nek uporabnik ali celo več uporabnikov uporabljalo isto
        uporabniško ime in geslo, da bodo lažje vodili evidenco za čebelnjak, katerega upravlja več ljudi.</p>
    </div>

    <div>
        <h2>Naša motivacija</h2>
        <div>
        <p>Čebelarstvo je kmetijska panoga, ki se ukvarja z gojenjem čebel in pridobivanjem njihovega
        proizvoda. Za uspešno izvajanje panoge je potrebno učinkovito vodenje evidence. Sem spada
        predvsem beleženje pregledovanja čebeljih družin, točenja medu, hranjenja, zdravljenja ter beleženje
        drugih stroškov. Čebelarji pogosto vse te podatke beležijo fizično, kar ima svoje pomanjkljivosti:</p>
        <ul>
            <li>Fizični dokumenti se lahko uničijo ali pa izgubijo; ni hitrega in preprostega načina za shranjevanje varnostnih kopij</li>
            <li>Pri ponavljajočih se podatkih je potrebna repeticija vnašanja podatkov</li>
            <li>Vizualizacija teh podatkov ni možna, razen če se te prenesejo v digitalni format</li>
            <li>Deljenje podatkov z drugimi čebelarji je zamudno</li>
        </ul>

    </div>
    </div>
    
</div>
